Repository 47degrees/sbt-hood, pull requests merged in 2020-04, with the labels that each got.

#79 Update sbt, scripted-plugin to 1.3.9
  project/build.properties
Labels: auto-update

#86 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#87 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#88 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#89 Update actions, documentation templates and configuration files to v0.3.1
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .mergify.yml
Labels: auto-update

#90 Update actions, documentation templates and configuration files to v0.3.2
  .mergify.yml
Labels: auto-update

#91 Update actions, documentation templates and configuration files to v0.3.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#92 Update actions, documentation templates and configuration files to v0.4.0
  .github/workflows/bot-prs-auto-approve.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: auto-update

#93 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#95 Update actions, documentation templates and configuration files to v0.4.1
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: auto-update

#97 Update sbt-scalafmt to 2.3.3
  project/plugins.sbt
Labels: auto-update

#98 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#99 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#100 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#101 Update sbt-scalafmt to 2.3.4
  project/plugins.sbt
Labels: auto-update

#103 Update sbt, scripted-plugin to 1.3.10
  project/build.properties
Labels: auto-update

#104 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#105 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#96 Update actions, documentation templates and configuration files to v0.5.0
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .mergify.yml
Labels: auto-update

#107 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#108 Update documentation and other files
  AUTHORS.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  NOTICE.md
  modules/core/src/main/scala/com/fortysevendeg/hood/benchmark/BenchmarkService.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/csv/CsvService.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/github/GithubModel.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/github/GithubService.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/github/instances.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/json/JsonService.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/model/Benchmark.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/model/HoodError.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/model/JmhResult.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/utils/FileUtils.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/TestValues.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/benchmark/BenchmarkServiceTests.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/csv/CsvServiceTests.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/json/JsonServiceTests.scala
  modules/plugin/src/main/scala/com/fortysevendeg/hood/plugin/SbtHoodKeys.scala
  modules/plugin/src/main/scala/com/fortysevendeg/hood/plugin/SbtHoodPlugin.scala
  modules/plugin/src/test/scala/com/fortysevendeg/hood/plugin/SbtHoodPluginTests.scala
  modules/plugin/src/test/scala/com/fortysevendeg/hood/plugin/TestUtils.scala
Labels: auto-documentation

#109 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#110 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#111 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#112 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#113 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#114 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#115 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#116 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#117 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#119 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#120 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#102 [BUGFIX] Remove unrequired csv columns
  README.md
  docs/docs/docs/github.md
  modules/core/src/main/scala/com/fortysevendeg/hood/csv/CsvService.scala
  modules/core/src/main/scala/com/fortysevendeg/hood/model/JmhResult.scala
  modules/plugin/src/main/scala/com/fortysevendeg/hood/plugin/SbtHoodKeys.scala
  modules/plugin/src/main/scala/com/fortysevendeg/hood/plugin/SbtHoodPlugin.scala
Labels: bug

#121 Update documentation and other files
  modules/plugin/src/main/scala/com/fortysevendeg/hood/plugin/SbtHoodPlugin.scala
Labels: auto-documentation

#122 Update documentation and other files
  AUTHORS.md
Labels: auto-documentation

#123 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#124 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#125 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#126 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#127 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#130 Update cats-effect to 2.1.3
  project/ProjectPlugin.scala
Labels: scala-steward

#133 Update sbt-microsites to 1.2.0
  project/plugins.sbt
Labels: scala-steward

#134 Update sbt-ci-release to 1.5.3
  project/plugins.sbt
Labels: scala-steward
