Repository 47degrees/sbt-hood, pull requests merged in 2020-03, with the labels that each got.

#41 Adjustments before launch
  docs/src/main/resources/microsite/data/menu.yml
  docs/src/main/resources/microsite/sass/_sidebar.scss
  docs/src/main/resources/microsite/sass/_variables.scss
  project/ProjectPlugin.scala
Labels: website

#42 Adds /hood/sbt prefix in the micrositeBaseUrl setting
  project/ProjectPlugin.scala
Labels: website

#75 Update actions, documentation templates and configuration files to v0.1
  .github/labels.yml
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/update-labels.yml
  .gitignore
  .mergify.yml
  .travis.yml
  README.md
  build.sbt
  docs/AUTHORS.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/NOTICE.md
  modules/core/src/main/scala/com/fortysevendeg/hood/csv/CsvService.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/csv/CsvServiceTests.scala
  modules/core/src/test/scala/com/fortysevendeg/hood/json/JsonServiceTests.scala
  modules/plugin/src/test/scala/com/fortysevendeg/hood/plugin/SbtHoodPluginTests.scala
  project/ProjectPlugin.scala
  project/plugins.sbt
  version.sbt
Labels: auto-update

#76 Update actions, documentation templates and configuration files to v0.1.2
  .github/workflows/changelog.yml
  .gitignore
Labels: auto-update

#78 Update actions, documentation templates and configuration files to v0.1.3
  .github/workflows/changelog.yml
Labels: auto-update

#80 Update actions, documentation templates and configuration files to v0.2.1
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
  .mergify.yml
Labels: auto-update

#82 Update actions, documentation templates and configuration files to v0.2.2
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
Labels: auto-update

#81 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog

#84 Update actions, documentation templates and configuration files to v0.2.3
  .github/workflows/changelog.yml
  .github/workflows/docs.yml
  .github/workflows/scalasteward-auto-approve.yml
Labels: auto-update

#85 Update CHANGELOG.md
  CHANGELOG.md
Labels: auto-changelog
